/* font-family Abel */
@font-face{
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}
/* font-family Roboto */
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
